@import "_theme.scss";

.passport-panel {
	width: 500px;
	padding: 30px 50px;
	border: 1px solid $border-color;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -200px;
	h3 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	input,
	.ant-input-group-wrapper,
	.ant-input-affix-wrapper {
		font-size: 16px;
		margin: 10px 0;
		.ant-input-affix-wrapper,
		input {
			margin: 0;
		}
	}
	
	.ant-checkbox-wrapper {
		margin: 10px 0;
		font-size: 16px;
		color: #999;
	}
	button {
		display: block;
		width: 100%;
		margin: 10px auto;
	}
	
}